{% for scope in variablescopes.variablescopes %}
az vm create --resource-group {{ scope.VmResourceGroup }} --name {{ scope.VmName }} {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
        --image {{ scope.VmOsImage }} --size {{ scope.VmSizeType }} {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
        --vnet-name {{ scope.VmVnetName }} --subnet {{ scope.VmSubnetName }} {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
        --authentication-type {{ scope.VmAuthMethod }} --admin-username {{ scope.VmAdminUser }} {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
        --admin-password {{ scope.VmAdminPass }} --public-ip-address {{ scope.VmPublicIp }} {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
        --location {{ scope.VmLocation }} --nic-delete-option delete {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
        --os-disk-delete-option delete {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
        {%- if VmOsType == 'linux' -%} --generate-ssh-keys {% endif %}
{% endfor %}