{% for scope in variablescopes.variablescopes %}
az network vnet delete {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
    --name {{ scope.VnetName }} {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
    --resource-group {{ scope.VnetResourceGroup}}
{% endfor %}