{% for scope in variablescopes.variablescopes %}
az network vnet subnet create {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
    --name {{ scope.SubnetName }} {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
    --resource-group {{ scope.SubnetResourceGroup }} {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
    --vnet-name {{ scope.SubnetParentVnetName }} {% if scope.isCodeisLinux %}\{% else %}^{% endif %}
    --address-prefix {{ scope.SubnetAddressPrefix }}
{% endfor %}