{% for scope in variablescopes.variablescopes %}
oci iam compartment create --compartment-id {{ scope.RootCompartment }} --name {{ scope.CompartmentName }} --description "{{ scope.CompartmentDesc }}"
{% endfor %}